{%- if lable != blank -%}
<a
  {% if link == blank %}
    role="link" aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="glow_button"
>
  {{- lable | escape -}}
</a>
{%- endif -%}