<div class="image_area.image_{{ section.id }}{{ block.id }}">
  <div class="swiper">
    <div class="mySwiper-{{ section.id }}{{ block.id }}">
      <div class="swiper-wrapper">
        {% content_for 'blocks' %}
      </div>
    </div>
    <div class="nav_action">        
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Slider",
    "tag": null,
    "blocks": [{"type": "slider-item"}],
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "video",
        "id": "video_url",
        "label": "Video"
      }
    ],
    "presets": [{"name": "Slider"}]
  }
{% endschema %}