<div class="swiper-slide">
  {% content_for 'blocks' %}
</div>


{%- style -%}

{%- endstyle -%}



{% schema %}
  {
    "name": "Slider Item",
    "tag": null,
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 10
      }
    ],
    "presets": [{"name": "Slider Item"}]
  }
{% endschema %}