<div class="media_{{ section.id }}{{ block.id }}">

</div>



{% schema %}
  {
    "name": "Media",
    "tag": null,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "video",
        "id": "video_url",
        "label": "Video"
      }
    ],
    "presets": [{"name": "Media"}]
  }
{% endschema %}