<div class="swiper-slide">Slide 1</div>



{% schema %}
  {
    "name": "Slider Item",
    "tag": null,
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "video",
        "id": "video_url",
        "label": "Video"
      }
    ],
    "presets": [{"name": "Slider Item"}]
  }
{% endschema %}